@use '@/assets/styles/variables' as *;

.page[data-name=Cart] {

  .CartWrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    @media (min-width: $breakpoint-tablet-horizontal) {
      grid-template-columns: minmax(0, 1fr) 40rem;
    }

    .list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
    }
  }
}